<div>
  <h2 id="page-heading" data-cy="PointOfBooksHeading">
    <span jhiTranslate="k23App.pointOfBooks.home.title">Point Of Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="k23App.pointOfBooks.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-point-of-books"
        [routerLink]="['/point-of-books/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="k23App.pointOfBooks.home.createLabel"> Create a new Point Of Books </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pointOfBooks?.length === 0">
    <span jhiTranslate="k23App.pointOfBooks.home.notFound">No pointOfBooks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pointOfBooks && pointOfBooks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="k23App.pointOfBooks.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="content">
            <span jhiTranslate="k23App.pointOfBooks.content">Content</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thumbnail">
            <span jhiTranslate="k23App.pointOfBooks.thumbnail">Thumbnail</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="price"><span jhiTranslate="k23App.pointOfBooks.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="k23App.pointOfBooks.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="volume">
            <span jhiTranslate="k23App.pointOfBooks.volume">Volume</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="author">
            <span jhiTranslate="k23App.pointOfBooks.author">Author</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category">
            <span jhiTranslate="k23App.pointOfBooks.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <span jhiTranslate="k23App.pointOfBooks.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <span jhiTranslate="k23App.pointOfBooks.deleted">Deleted</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pointOfBooks of pointOfBooks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/point-of-books', pointOfBooks.id, 'view']">{{ pointOfBooks.id }}</a>
          </td>
          <td>{{ pointOfBooks.name }}</td>
          <td>
            <a
              *ngIf="pointOfBooks.content"
              (click)="openFile(pointOfBooks.content, pointOfBooks.contentContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="pointOfBooks.content">{{ pointOfBooks.contentContentType }}, {{ byteSize(pointOfBooks.content) }}</span>
          </td>
          <td>{{ pointOfBooks.thumbnail }}</td>
          <td>{{ pointOfBooks.price }}</td>
          <td jhiTranslate="{{ 'k23App.StatusOfPOB.' + pointOfBooks.status }}">{{ pointOfBooks.status }}</td>
          <td>{{ pointOfBooks.volume }}</td>
          <td>{{ pointOfBooks.author }}</td>
          <td jhiTranslate="{{ 'k23App.Category.' + pointOfBooks.category }}">{{ pointOfBooks.category }}</td>
          <td>{{ pointOfBooks.createdAt | formatMediumDatetime }}</td>
          <td>{{ pointOfBooks.deleted }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/point-of-books', pointOfBooks.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/point-of-books', pointOfBooks.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pointOfBooks)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pointOfBooks && pointOfBooks.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
